body {
    margin: 0;
    padding: 60px 50px;
    font-weight: bold;
    background-color: #193333;
    color: white;
    font-family: "Nunito", sans-serif;
}

#h1Green {
    color: green;
}

h1 span {
    display: block;
}

p {
    margin-top: -5px;
    font-weight: 500;
    font-size: 1.1em;
}

#password-btn {
    background-color: green;
    margin-top: 20px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

#password-btn:hover {
    background-color: white;
    color: green;
    box-shadow: 0px 0px 20px black;
}

hr {
    margin-top: 30px;
}

.display {
    margin-top: 30px;
    width: 180px;
    height: 40px;
    background-color: #163730;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    box-shadow: 0 0 20px black;
}

#display1 {
    margin-right: 25px;
}